main {
	max-width: 980px;
	width: 90%;
	margin: auto;
}

#full-item-list {
    display: none;
    margin-top: 20px;

    th {
        cursor: pointer;
    }

    td:not(:last-of-type) {
        padding-right: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;

        a {
            color: lightblue;
        }
    }
}